@model IEnumerable<StudInfoSys.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Ajax.BeginForm("SearchByLastName", new AjaxOptions{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "students-list" 
}))
{
    <input id="lastname" type="text" name="lastName" placeholder="Enter Lastname" title="Try typing 'Flaga'" />
    <button type="submit" value="Search">Search</button>
}

<div id="students-list">
@Html.Partial("_StudentsTable", Model)
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/StudInforSysScript.js")

     @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    
    <script type="text/javascript">
        $(function(){
            $("#lastname").tooltip();
        });
    </script>
}