@model IEnumerable<StudInfoSys.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Ajax.BeginForm("SearchByLastName", new AjaxOptions{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "students-list" 
}))
{
    <input type="text" name="lastName" placeholder="Enter Lastname" />
    <button type="submit" value="Search">Search</button>
}

<div id="students-list">
@Html.Partial("_StudentsTable", Model)
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/StudInforSysScript.js")
}