@model StudInfoSys.ViewModels.GradeViewModel
@using StudInfoSys.Helpers

@using (Html.BeginCollectionItem("gradeviewmodels"))
{
    @Html.HiddenFor(model => model.PeriodId)
    
    <div class="editor-label">
        @Html.DisplayFor(model => model.PeriodName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.GradeValue)
        @Html.ValidationMessageFor(model => model.GradeValue)
    </div>
}