@{
    ViewBag.Title = "Student Information System";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}


<div style="margin: 0px auto; width: 456px; text-align: center;">
    <h3>@Html.ActionLink("Click here to edit/enter new student information...", "Index", "Student")</h3>
    <br />
    <a href="http://jeremiahflaga.blogspot.com/">
        <img src="@Url.Content("~/Images/StudInfoSys.png")"/>
    </a>
</div>
