body 
{
   
}

#search
{
    
}

#main
{
    margin-left: auto;
    margin-right: auto;
}


.editor-label
{
    font-weight: bold;
    color: #5C87B2;
}   

.editor-field
{
    margin-left: 40px;
    font-size:medium;
}


.display-label
{
    font-weight: bold;
    color: #5C87B2;
}   

.display-field
{
    margin-left: 40px;
    font-size:large;
}

/*select {
    font-size: 100px;
}*/

th a:link {
    text-decoration: underline;
}


/* Student list/table*/

/*#students-list td {
    display: table;
}
    #students-list td * {
        display: table-cell;
    }*/

#students-list thead {
    /*border-bottom: double 1px black;
    border-top: double 1px black;*/
    background-color: #CCCCCC;
}

#students-list tbody tr {
    height: 100px;
}

td .fullname {
    width: 150px;    
    display: block;
    overflow: hidden;
    font-weight: bold;
}
td .date-of-birth {
    width: 120px;
    display: block;
    overflow: hidden;
}

td .address {
    width: 250px;
    display: block;
    overflow: hidden;
    vertical-align: middle;
}


td .email {
    width: 150px;
    display: block;
    overflow: hidden;
}

td .fullname:hover,
td .date-of-birth:hover,
td .address:hover,
td .email:hover
{
    overflow: auto;
}



/* Paging section*/

.paging {
    color: blue;
}